* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    align-content: center;
    background-color: hotpink;

}
.upper{
    display:flex;
    justify-content: center;
}
.lower{
    display: flex;
    justify-content: center;
}
.square1 {
    background-color: antiquewhite;
    animation: burst1;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}
.square2 {
    background-color: antiquewhite;
    animation: burst2;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}
.square3 {
    background-color: antiquewhite;
    animation: burst3;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}
.square4 {

    background-color: antiquewhite;
    animation: burst4;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function:ease-out;
}

@keyframes burst1{
    0% {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transform: translateX(-100px);
    }
    10% {
        border-radius: 0%;
    }

    100% {
        width: 600px;
        height: 600px;
        border-radius: 0%;
        transform: translateX(0px);
    }
}
@keyframes burst2 {
    0% {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transform: translateX(-200px);
    }
    10%{
        border-radius: 0%;
    }


    100% {
        width: 600px;
        height: 600px;
        border-radius: 0%;
        transform: translateX(0px);
    }
}
@keyframes burst3 {
    0% {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transform: translateX(-300px);
    }
    10% {
        border-radius: 0%;
    }


    100% {
        width: 600px;
        height: 600px;
        border-radius: 0%;
        transform: translateX(0px);
    }
}
@keyframes burst4 {
    0% {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transform: translateX(-400px);
    }
    10% {
        border-radius: 0%;
    }


    100% {
        width:600px;
        height: 600px;
        border-radius: 0%;
        transform: translateX(0px);
    }
}